modules = ["nodejs-20", "web", "java-graalvm22.3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
VITE_SUPABASE_PROJECT_ID = "vzbaohizuogscdgprqon"
VITE_SUPABASE_PUBLISHABLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ6YmFvaGl6dW9nc2NkZ3BycW9uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc2NzY4MjAsImV4cCI6MjA3MzI1MjgyMH0.7mxnasE3Za4tuHg0OnlO6xqvi0Zhme6KgMwpU1TuK1g"
VITE_SUPABASE_URL = "https://vzbaohizuogscdgprqon.supabase.co"
VITE_TMDB_API_KEY = "32e5e53999e380a0291d66fb304153fe"
